<?xml version='1.0' encoding='utf-8'?>
<widget id="everskyblue.spacecode" version="0.1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SpaceCode</name>
    <description>
        Editor de codigo para android
    </description>
    <author email="nikejoelmadrid@gmail.com">
        Nike
    </author>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <!--uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /-->
        </config-file>
        <edit-config target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>
    <access origin="*" />
    <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>